.academy-nav-item {
  padding: 2px 0;

  &.active {
    background: rgba(7, 202, 153, 0.171);
    .item {
      color: black;

      &:hover {
        color: black !important;
      }
    }
  }

  &.sub-item.active {
    background: white !important;

    .item {
      color: rgb(7, 202, 153) !important;
    }
  }

  .item {
    text-decoration: none;
    color: black;
    font-weight: 600;

    &:hover {
      color: rgb(7, 202, 153) !important;
    }

    .hstack {
      padding: 2px 20px;
    }
  }
}
