composer.phar
/vendor/
/web/source/js/*
/web/source/css/*

/common/runtime/logs/*

.vscode

/configuration.local.json
export-academy-aca76b9bed62.json

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
