$color-grey: #f1f1f1;
$color-slate-grey: #ced2cc;
$color-cloudy: #7e909a;
$color-primary-blue: #2a94d6;
$color-navy: #344a5f;
$color-dark: #202020;

body {
  background: rgba(248, 248, 248, 0.682);
}

.btn {
  background: $color-grey;
  color: $color-dark;
  font-weight: 500;
  border: none;
  padding: 10px 15px;
  white-space: nowrap;
  transition: 0.25s;

  &:hover,
  &:focus,
  &:active {
    background: $color-grey;
    box-shadow: 0px 0px 5px 2px rgba(105, 154, 205, 0.4);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(105, 154, 205, 0.4);
    -moz-box-shadow: 0px 0px 5px 2px rgba(105, 153, 205, 0.4);
  }

  &.btn-icon {
    aspect-ratio: 1/1;
  }
}

.card {
  border-radius: 5px;
  border: none;
  background: white;
  border: solid 1px $color-grey;
  overflow: hidden;
  box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 0px 19px -4px rgba(0, 0, 0, 0.17);

  & .card-body {
    padding: 18px;
  }

  & .card-header {
    padding: 30px 25px 0 25px;
    background: none;
    border: none;
  }
}
