$color-grey: #f1f1f1;
$color-slate-grey: #ced2cc;
$color-cloudy: #7e909a;
$color-primary-blue: #2a94d6;
$color-navy: #344a5f;
$color-dark: #202020;

.thumbnail-container {
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  border-radius: 10px;
  transition: 0.25s;

  .thumbnail-display {
    aspect-ratio: 1/1;
    width: 60px;
    background: $color-grey;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;

    svg {
      color: $color-cloudy;
      text-align: center;
      transition: 0.25s;
    }
  }

  .detail-container {
    .main {
      font-weight: 600;
      color: $color-navy;
      transition: 0.25s;

      small {
        margin-left: 10px;
        font-weight: 400;
        font-size: smaller;
        color: $color-cloudy;
      }
    }
  }

  &:hover,
  &.active {
    background: rgb(235, 235, 235);
    .thumbnail-display {
      background: rgba(159, 193, 243, 0.419);

      svg {
        color: $color-primary-blue;
      }
    }

    .detail-container {
      .main {
        color: $color-dark;
      }
    }
  }
}

.directory-path-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  a {
    text-decoration: none;
    padding: 2px;
    color: #7e909a;
    border-radius: 5px;

    &:hover {
      color: #344a5f;
    }
  }
}

#media-detail-container {
  border: #ced2ccc6 solid 1px;
  border-radius: 10px;
  background: $color-grey;
  padding: 15px;

  .media-container {
    width: 100%;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

.media-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
}

.media-video-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  video {
    width: 100%;
    height: 100%;
  }
}

.media-app-container {
  position: relative;

  a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: $color-navy;
    color: $color-grey;

    &:hover,
    &:active,
    &:focus {
      background: $color-navy;
      color: $color-grey;
    }
  }
}
